.bimg-splash {
  background-image: url('../../assets/img/splash-gif.gif?h=03079f31821f95fe9dc4d61660d9e0d9');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button:hover {
  background-color: white!important;
  color: black!important;
}

.btn.btn-primary.btn-lg {
  background-color: black;
  margin: 7px 10px 12px 15px;
  border-radius: 5px;
  color: white;
  font-family: 'infinityregular';
  border-color: white;
  font-weight: 800;
  letter-spacing: 2px;
}

.btn.btn-primary.btn-lg:active {
  outline: 0!important;
  border: none!important;
  -moz-outline-style: none!important;
}

.bgimg-1 {
  background-image: url(../../assets/img/stage01.png?h=d6b5d80664a7352dfe1870774e62255b);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 300px;
}

.bgimg-2 {
  background-image: url(../../assets/img/stage03.png?h=91bc84bba36b28b5090be4a683d1c20e);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 300px;
}

.bgimg-3 {
  background-image: url(../../assets/img/stage03-2.png?h=61caf1d870f4b2692250da686b8d213f);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 300px;
}

.bgimg-4 {
  background-image: url(../../assets/img/jigsaw.png?h=6af0f35dbaf743f0e7e6a2ecb702787e);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 440px;
  height: 150px;
}

